<% @album_tracks.each do |track| %>
  <li id="<%= track.id %>" class="track" data-id="<%= track.id %>" data-name="<%= track.name %>" data-artist="<%= track.artists[0].name %>" data-album="<%= track.album.name %>" data-uri="<%= track.uri %>"><%= track.name %></li>
<% end %>
