<div class="app-container">
	<div class="row">
		<div class="col-md-6 col-xs-12 col-md-offset-1">
			<div class="tracks-container">
			  <ul class="list-unstyled">
			  <% @albums.each do |album| %>
				<li>
					<div class="album-card" id="<%= album.id %>">
						<div class="album-image-container">
							<%= image_tag album.images[0]["url"], class: "album-image" %> 
						</div>
						<div class="album-details-container">
							<h3><%= album.name %></h3> 
							<p><%= album.release_date %></p>
						</div>
						
					</div>
					<div class="album-tracks" id="album-track-<%= album.id %>">
						<ol>
							<% album.tracks.each do |track| %>
							  <li id="<%= track.id %>" class="track" data-id="<%= track.id %>" data-name="<%= track.name %>" data-artist="<%= track.artists[0].name %>"><%= track.name %></li>
							<% end %>
						</ol>	
					</div>	
				</li>
			  <% end %>
			  </ul>
			</div>
		</div>
		<div class="col-md-3">
			<div class="setlist-sidebar">
			<div class="nav-container">
				<%= render "setlists/track_nav" %>
			</div>
				<div id="setlist-tracks">
					<ol class="setlist">
						<% @setlist.tracks.each do |track| %>
							<li id="<%= track.id %>"><%= track.name %></li>
						<% end %>
					</ol>
					<div class="btn btn-primary" id="setlist-save"><h3>Save Setlist</h3></div>
					<%#= link_to "Save Setlist", setlist_path(@setlist), method: :put, remote: true %>
				</div>
			</div>
		</div>
	</div>
</div>
<style>
	body{
		background-color: #272727;
	}
</style>

<% content_for :javascript do %>
<script type="text/javascript">

var tracks_hash = []

	$(".tracks-container").on('click', '.album-card', function(event) {
		event.preventDefault();
		/* Act on the event */
		var id = $(this).attr('id').toString();
		$('#album-track-'+id).toggle('slow');
	});
	$(".album-tracks").on('click', '.track', function(event) {
		event.preventDefault();
		/* Act on the event */
		var id = $(this).attr('id').toString();
		var track_name = $(this).text();
		var artist = $(this).data('artist');
		console.log(id);
		console.log(track_name);
		console.log(artist);
		console.log(tracks_hash.length)
		$('.setlist').append('<li id="' + id + '"data-id="' + id + '"data-artist"' + artist +'"data-name"' + track_name + 'class="setlist-track">'+track_name+'</li>');
		$(this).toggle("fast");
		tracks_hash[tracks_hash.length] = {"title": track_name, "artist": artist, "spotify_track_id": id}
		console.log(tracks_hash);
	});
	$('#setlist-save').click(function(event) {

		/* Act on the event */
		var tracks_array = [];
		$('.setlist-track').each(function(){
			tracks_array.push(this.id);	
		});
		// var gist = JSON.stringify({
		//   		"tracks": tracks_hash
		// 		// "setlist_id": "<%= @setlist.id %>"
		// });
		$.ajax({
	    type: "PUT",
	    url: "/setlists/<%= @setlist.id %>",
	    data: {
	    	// tracks: JSON.stringify(tracks_hash),
	    	// tracks: JSON.stringify(tracks_array),
	    	// setlist_id: JSON.stringify('<%= @setlist.id %>') 
	    		setlist: {
	    			setlist_id: "<%= @setlist.id %>",
	    			tracks: JSON.stringify(tracks_hash)
	    		}	
	    	}
	  	});
	});


</script>
<% end %>