<ul class="list-unstyled">

  <% @albums.each do |album| %>
	<li>
		<div class="album-card" id="<%= album.id %>">
			<div class="album-image-container">
				<%= image_tag album.images[0]["url"], class: "album-image" %> 
			</div>
			<div class="album-details-container">
				<h3><%= album.name %></h3> 
				<p><%= album.release_date %></p>
			</div>
			
		</div>
		<div class="album-tracks hidden" id="album-track-<%= album.id %>">
			<ol>
				<% album.tracks.each do |track| %>
					<li><%= track.name %></li>
				<% end %>
			</ol>	
		</div>	
	</li>
  <% end %>
</ul>