<div class="app-container app-background">
	<div class="row">
		<div class="col-md-6 col-xs-12 col-md-offset-3">
			<div class="track-album-container">
				<div class="nav-container">
					<%= render "setlists/track_nav" %>
				</div>
				<div class="album-container" id="style-2">
					<%= render "setlists/track" %>
				</div>
			</div>
			<div class="setlist-actions">
				<%= link_to "Add Tracks", setlist_tracks_path(@setlist), class: "btn btn-primary btn-back-fade" %>
				<%= link_to "Add Venue", setlist_venue_index_path(@setlist), class: "btn btn-primary btn-back-fade" %>
				<div class="btn btn-primary btn-back-fade"><p>Add Ticket</p></div>
				<%= link_to "Generate Playlist", setlist_generate_playlist_path(@setlist), class: "btn btn-primary btn-back-fade" %>
			</div>
		</div>
	</div>
</div>
<% content_for :javascript do %>
  <script type="text/javascript">

  </script>
<% end %>


		